.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: auto;
}
.heading-text {
    color: rgb(14, 10, 10);
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    margin: 10px 30px;
    padding-bottom:10px;
  }

  .apptext-1 {
    color: rgb(92, 223, 201);
  }

  .apptext-2 {
    color: #4ddb40;
  }

.scorecard{
    width:200px;
    padding:50px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.scorecard__shadow{
    padding: 10px 20px;
    border-radius: 10px ;
    box-shadow: 2px 2px 5px black;
}

.score{
    padding: 0 2px;
}
.color1{
    font-size: 20px;
    color: #3778fa;
}
.color2{
    font-size: 20px;
    color: #ef7536;
}


 @media only screen and (max-width: 600px) {
    .heading-text {
        margin-top: 50px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 290px) {
    .heading-text {
        margin-top: 50px;
        font-size: 20px;
    }
    .score{
        padding: 0 5px;
    }
}

